<template>
  <v-container grid-list-md text-xs-center fluid>
    <v-layout row wrap>
      <v-flex s12 md7>
        <h3 v-if="!valid" class="red--text">
          Code not found!
        </h3>
        <v-form v-model="valid">
          <v-text-field
            v-model="code"
            label="Enter by Code"
          ></v-text-field>
          <v-btn color="success" @click="addGood" >Add To Cart </v-btn>
        </v-form>
        <goods-index />
      </v-flex>
      <v-flex s12 md5>
        <goods-cart />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    computed: {
      ...mapGetters(['getGoods'])
    },
    data: () => {
      return {
        code: '',
        valid: true
      }
    },
    methods: {
      ...mapActions(['addGoodToCart']),
      addGood() {
        let good = this.getGoods.find((g) => g.code === this.code)
        if(good) {
          this.addGoodToCart(good)
          this.code = ''
          this.valid = true
        }
        else
          this.valid = false
      }
    }
  }
</script>

<style lang="sass" scoped>

</style>