<template>
  <v-navigation-drawer
    v-model="isVisible"
    fixed
    clipped
    app
  >
    <v-list dense>
      <v-list-tile>
        <v-list-tile-action>
          <v-icon>attach_money</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            Inserted Money: ${{money}}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="goTo('/moneys')">
        <v-list-tile-action>
          <v-icon>send</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            Add Money
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-subheader class="mt-3 grey--text text--darken-1">Categories</v-subheader>
      <v-list>
        <v-list-tile
          v-for="category in getCategories"
          :key="category"
          @click="setCategoryFilter(category)">
          <v-list-tile-action>
            <v-icon color="grey darken-1">filter_list</v-icon>
          </v-list-tile-action>
          <v-list-tile-title v-text="capitalize(category)"></v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="setCategoryFilter('')">
          <v-list-tile-action>
            <v-icon color="grey darken-1">filter_list</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Clear Filters</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState(['drawer', 'money']),
    ...mapGetters(['getCategories']),
    isVisible: {
      get() {
        return this.drawer
      },
      set(newValue) {
        this.$store.dispatch('toggleDrawer', newValue)
      }
    }
  },
  methods: {
    ...mapActions(['setCategoryFilter']),
    goTo(route) {
      this.$router.push(route);
    },
    capitalize(str) {
      return `${str.charAt(0).toUpperCase()}${str.slice(1)}`
    }
  },
  data: () => ({
    items2: [
      { picture: 28, text: 'Joseph' },
      { picture: 38, text: 'Apple' },
      { picture: 48, text: 'Xbox Ahoy' },
      { picture: 58, text: 'Nokia' },
      { picture: 78, text: 'MKBHD' }
    ]
  })
}
</script>

<style lang="sass" scoped>

</style>

