<template>
  <div>
    <h1> Current Items</h1>
    <h2> Inserted Money: ${{money}} <router-link to="/moneys">(Add)</router-link></h2>
    <h3> Cost: ${{totalCost}}</h3>
    <hr>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12>
          <v-btn color="success" id="checkout" @click="checkout" :disabled="!enough">
            <span v-if="enough"> Checkout </span>
            <span v-if="!enough"> Not enough money</span>
          </v-btn>
        </v-flex>
        <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-card>
          <v-card-title
            class="headline teal lighten-2"
            primary-title
          >
            Reciept
          </v-card-title>

          <v-card-text>
            Change: ${{change}}
            <br>
            <br>
            Goods recieved:
            <hr>
            <span v-for="(good, index) in cart" :key="`reciept-${index}`">
              {{good.name}}
              <br>
            </span>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              flat
              @click="reconcile"
            >
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 v-for="(good, index) in cart" :key="`good-${index}`">
          <goods-show :good="good" :cart="true"/>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data: () => {
    return {
      dialog: false
    }
  },
  computed: {
    ...mapState(['cart', 'money']),
    enough: function() {
      return this.money >= this.totalCost
    },
    totalCost: function() {
      if(!this.cart)
        return 0.0
      let cost = this.cart.map((i) => i.cost).reduce(
        (a,c) => a+c
      , 0)
      return Math.round(cost * 100) / 100
    },
    change: function() {
      let change = this.money - this.totalCost
      return Math.round(change * 100) / 100
    }
  },
  methods: {
    ...mapActions(['setMoney', 'clearCart', 'updateGood']),
    checkout() {
      this.dialog = true
    },
    reconcile() {
      this.dialog = false

      let counts = {}

      for(var good of this.cart) {
        if(counts[good.id])
          counts[good.id] += 1;
        else
          counts[good.id] = 1
      }

      for(var count in counts) {
        console.log(count)
        let goodCopy = { ...this.cart.find((g) => g.id == count)}
        goodCopy.quantity -= counts[count]
        this.updateGood(goodCopy)
      }

      this.setMoney(0)
      this.clearCart()
    }
  }
}
</script>

<style lang="sass" scoped>

#checkout
  width: 100%

</style>


