<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex xs12 sm4 v-for="good in getGoods" :key="good.id">
        <goods-show :good="good" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['getGoods'])
  },
}
</script>

<style lang="sass" scoped>
</style>


