<template>
  <v-card class="goods-card">
    <v-card-title primary-title>
      <div>
        <h3 class="headline mb-0">{{good.name}}</h3>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              {{good.code}} -- ${{good.cost}}
            </v-list-tile-title>
            <v-list-tile-sub-title>
              {{good.category}} -- {{good.quantity}}
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </div>
    </v-card-title>
    <v-card-actions v-if="cart">
      <v-btn flat color="red" @click="removeGoodFromCart(good)">Remove From Cart</v-btn>
    </v-card-actions>
    <v-card-actions v-if="!cart">
      <v-btn flat color="blue" @click="addGoodToCart(good)">Add To Cart</v-btn>
      <v-btn flat color="success" @click="incGood(good)">Restock One</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: [
    'good',
    'cart'
  ],
  methods: {
    ...mapActions(['addGoodToCart',
                   'removeGoodFromCart',
                   'updateGood']),
    incGood(good) {
      let goodCopy = {...good}
      goodCopy.quantity = goodCopy.quantity + 1
      this.updateGood(goodCopy)
    }
  }
}
</script>

<style lang="sass" scoped>
  .goods-card
    height: 100%
</style>


