<template>
  <v-app
    id="inspire"
    dark
  >
    <navigation/>
    <v-toolbar
      color="teal"
      dense
      fixed
      clipped-left
      app
    >
      <v-toolbar-side-icon @click.stop="toggleDrawer(!drawer)"></v-toolbar-side-icon>
      <v-icon class="mx-3">fab fa-youtube</v-icon>
      <v-toolbar-title id="home-link" class="mr-5 align-center"  @click="goTo('/')">
        <span class="title">Vendify</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fill-height fluid>
        <v-layout justify-center align-center>
          <div id="router-view">
            <router-view></router-view>
          </div>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import Vue from 'vue'
  import Vuetify from 'vuetify'

  import router from './router'
  import store from './store'
  import http from './http'

  import { mapActions, mapState } from 'vuex'

  Vue.use(Vuetify)

  export default {
    router,
    store,
    http,
    computed: {
      ...mapState(['drawer'])
    },
    methods: {
      ...mapActions(['toggleDrawer', 'getMachines']),
      goTo(route) {
        this.$router.push('/')
      },
    },
    created: function() {
      this.getMachines()
    }
  }
</script>

<style lang="sass" scoped>
  #home-link
    cursor: pointer;
  #router-view
    height: 100%
    width: 100%

</style>

