<template>
<div>
  <v-container grid-list-md text-xs-center id="num-pad">
    <v-layout row wrap>
      <v-flex xs12>
        <v-toolbar color="primary darken-4">
          <v-toolbar-title>Insert Money</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat @click="goTo('/')">Back To Main Menu</v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card dark color="teal">
          <v-card-text class="px-0">Total: ${{money}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card dark color="primary">
          <v-card-text class="px-0">Working: ${{current}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex v-for="i in 3" :key="`4${i}1`" xs4 @click="concatNumber(i)" class="pointer">
        <v-card dark color="primary" >
          <v-card-text class="px-0">{{i}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex v-for="i in 3" :key="`4${i}2`" xs4 @click="concatNumber(i+3)" class="pointer">
        <v-card dark color="primary">
          <v-card-text class="px-0">{{i+3}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex v-for="i in 3" :key="`4${i}3`" xs4 @click="concatNumber(i+6)" class="pointer">
        <v-card dark color="primary">
          <v-card-text class="px-0">{{i+6}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs4 @click="modNumber(-1)" class="pointer">
        <v-card dark color="primary darken-3">
          <v-card-text class="px-0">-</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs4 @click="concatNumber(0)" class="pointer">
        <v-card dark color="primary">
          <v-card-text class="px-0">0</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs4 @click="modNumber(1)" class="pointer">
        <v-card dark color="primary darken-3">
          <v-card-text class="px-0">+</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 class="pointer" @click="cancel()">
        <v-card dark color="red">
          <v-card-text class="px-0">Cancel</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 class="pointer" @click="setMoney(0)">
        <v-card color="teal darken-4">
          <v-card-text class="px-0">Return My ${{money}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['money'])
  },
  data: () => {
    return {
      current: 0.0
    }
  },
  methods: {
    ...mapActions(['setMoney']),
    concatNumber(number){
      this.current = `${this.current === 0.0 ? '' : this.current }${number}`
    },
    modNumber(modifier) {
      let newTotal = this.money + (modifier * this.current)
      this.setMoney(newTotal < 0 ? 0.0 : newTotal)
      this.current = 0.0
    },
    cancel() {
      this.current = 0.0
    },
    goTo(route) {
      this.$router.push(route);
    },
  }
}
</script>

<style lang="sass" scoped>
  #num-pad
    width: 70vh
  .pointer
    cursor: pointer;
</style>


